@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Outfit:wght@100;400&display=swap');
      * {
        padding: 0;
        margin: 0;
      }
      .attribution {
        font-size: 11px;
        text-align: center;
      }
      .attribution a {
        color: hsl(228, 45%, 44%);
      }
      .container {
        height: 100vh;
        width: 100%;
        background-color: hsl(212, 45%, 89%);
        display: grid;
        place-content: center;
      }
      .target {
        width: 320px;
        height: 520px;
        background-color: white;
        border-radius: 15px;
        margin-bottom: 15px;

      }
      .image {
        display: grid;
        place-content: center;
        padding-top: 20px;
      }
      img {
        height: 50%;
        border-radius: 15px;
      }
      .text {
        margin-top: -260px;
        padding: 10px;
        display: grid;
        place-items: center;
      }
      b {
        text-align: center;
        font-weight: 700;
        font-size: 24px;
        margin-bottom: 10px;
        font-family: 'Outfit', sans-serif;
      }
      p {
        font-size: 17px;
        text-align: center;
        font-weight: 400;
        color: hsl(212, 45%, 89%);
        font-family: 'Outfit', sans-serif;
      }